{{ define "api" }}
<div class='inner'>
  <div id='content-wrapper'>
    <div id='content-splash'>
      <h2>Application Programming Interface</h2>
    </div>
    <div id='content-body'><p class='api-warning'>This API produces an immediate response containing a token URL to be polled.
      See the
      <a href='#api-example'>example below</a>.</p>
      <h3>Resource URI</h3>
      <div id='base-url'>
        <p>"http://gnrd.globalnames.org/name_finder.json (JSON output)"</p>
        <p>"http://gnrd.globalnames.org/name_finder.xml (XML output)"</p>
      </div>
      <h3>Parameters (GET or POST)</h3>
      <dl>
        <dt>url</dt>
        <dd>
          Type: string. An encoded URL for a web page, PDF, Microsoft Office
          document, or image file
          <br>
          <em>e.g.</em>
          http://gnrd.globalnames.org/name_finder.json?url=http://en.wikipedia.org/wiki/Animalia
        </dd>
        <dt>file</dt>
        <dd>
          When using multipart/form-data as the content-type, a file may be sent.
        </dd>
        <dt>text</dt>
        <dd>
          Type: string. Text content; best used with a POST request
          <br>
          <em>e.g.</em>
          http://gnrd.globalnames.org/name_finder.json?text=A+spider+named+Pardosa+moesta+Banks,+1892
        </dd>
        <dt>engine (optional)</dt>
        <dd>
          Type: integer, Default: 0. Heuristic and Bayes approaches is 0,
          skipping Bayes algorithm is 1.
          <br>
          <em>e.g.</em>
          http://gnrd.globalnames.org/name_finder.json?url=http://en.wikipedia.org/wiki/Animalia&amp;engine=1
        </dd>
        <dt>unique (optional)</dt>
        <dd>
          Type: boolean (true/false or 1/0), Default: true. If 'true', response
          has unique names without offsets.
          <br>
          <em>e.g.</em>
          http://gnrd.globalnames.org/name_finder.json?url=http://en.wikipedia.org/wiki/Animalia&amp;unique=true
        </dd>
        <dt>verbatim (optional)</dt>
        <dd>
          Type: boolean (true/false or 1/0), Default: false. If 'true', response
          includes verbatim strings.
          <br>
          <em>e.g.</em>
          http://gnrd.globalnames.org/name_finder.json?url=http://en.wikipedia.org/wiki/Animalia&amp;verbatim=false
        </dd>
        <dt>detect_language (optional)</dt>
        <dj>
        Type: boolean (true/false or 1/0), Default: false. When 'true', Bayes
        algorithm will use a training set for the detected language, if
        it is available. Only English and German are supported at the moment.
        If there is an unsupported language, English training set is used.
        <br>
        <em>e.g.</em>
        http://gnrd.globalnames.org/name_finder.json?url=http://es.wikipedia.org/wiki/Animalia&amp;detect_language=true
        </dj>
        <dt>callback (optional)</dt>
        <dd>
          Type: string. Can be used for cross-domain JavaScript integration.
          <br>
          <em>e.g.</em>
          http://gnrd.globalnames.org/name_finder.json?url=http://en.wikipedia.org/wiki/Animalia&amp;callback=MyCoolCallBack
        </dd>
        <h4>Optional parameters for verifying found names</h4>
        <dt>with_verification (optional)</dt>
        <dd>
          Type: bolean (true/false). Resolve found names against all available
          <a href='http://resolver.globalnames.org/data_sources'>
            Data Sources and return the one best match.
          </a>.
          <br>
          <em>e.g.</em>
          http://gnrd.globalnames.org/name_finder.json?url=http://en.wikipedia.org/wiki/Animalia&amp;with_verification=true
          If you are interested in results from particular data sources use the
          preferred_data_sources parameter
        </dd>
        <dt>preferred_data_sources (optional)</dt>
        <dd>
          Type: string. Pipe-separated list of data source ids. If there is a match
          for these data sources, the result will always be shown at the
          preferred_results section. See the list of
          <a href='http://resolver.globalnames.org/data_sources'>
            Data Sources
          </a>.
          <br>
          <em>e.g.</em>
          http://gnrd.globalnames.org/name_finder.json?url=http://en.wikipedia.org/wiki/Animalia&amp;preferred_data_sources=1|12
        </dd>
      </dl>
      <h3>
        <a name='api-example'>Example</a>
      </h3>
      <p>
      <em>e.g.</em>
      http://gnrd.globalnames.org/name_finder.json?url=http://en.wikipedia.org/wiki/Araneae&amp;preferred_data_sources=1|12
      </p>
      <h4>Initial Response Containing Token URL</h4>
      <p>
      An HTTP status code of 303 "See Other" will be sent and the Location will be
      the token URL.
      </p>
      <pre class='code'>{
  &quot;token_url&quot;: &quot;http://localhost:9292/name_finder.json?token=6ofibu06av&quot;,
  &quot;input_url&quot;: &quot;https://en.wikipedia.org/wiki/Animalia&quot;,
  &quot;file&quot;: null,
  &quot;status&quot;: 303,
  &quot;engines&quot;: [
    &quot;gnfinder&quot;
  ],
  &quot;unique&quot;: false,
  &quot;verbatim&quot;: true,
  &quot;parameters&quot;: {
    &quot;return_content&quot;: false,
    &quot;with_verification&quot;: false,
    &quot;preferred_data_sources&quot;: [
      1,
      12
    ],
    &quot;detect_language&quot;: false,
    &quot;engine&quot;: 0,
    &quot;no_bayes&quot;: false
  },
  &quot;queue_size&quot;: 1
}</pre>
      <h4>Final Response After Having Polled Token URL</h4>
      <pre class='code'>      {
        &quot;token_url&quot;: &quot;http://localhost:9292/name_finder.json?token=6ofibu06av&quot;,
        &quot;input_url&quot;: &quot;https://en.wikipedia.org/wiki/Animalia&quot;,
        &quot;file&quot;: null,
        &quot;status&quot;: 200,
        &quot;engines&quot;: [
          &quot;gnfinder&quot;
        ],
        &quot;unique&quot;: false,
        &quot;verbatim&quot;: true,
        &quot;parameters&quot;: {
          &quot;return_content&quot;: false,
          &quot;with_verification&quot;: false,
          &quot;preferred_data_sources&quot;: [
            1,
            12
          ],
          &quot;preferred_data_sources&quot;: [],
          &quot;detect_language&quot;: false,
          &quot;engine&quot;: 0,
          &quot;no_bayes&quot;: false
        },
        &quot;names&quot;: [
          {
     with_verification&quot;: &quot;Animalia)&quot;,
            &quot;scientificName&quot;: &quot;Animalia&quot;,
            &quot;offsetStart&quot;: 4207,
            &quot;offsetEnd&quot;: 4216
          }, ...
          {
            &quot;verbatim&quot;: &quot;Sunda&quot;,
            &quot;scientificName&quot;: &quot;Sunda&quot;,
            &quot;offsetStart&quot;: 85264,
            &quot;offsetEnd&quot;: 85269
          }
        ],
        &quot;language_used&quot;: &quot;eng&quot;,
        &quot;execution_time&quot;: {
          &quot;text_preparation_duration&quot;: 3.831543207168579,
          &quot;find_names_duration&quot;: 1.442460060119629,
          &quot;total_duration&quot;: 5.2784082889556885
        },
        &quot;verified_names&quot;: [
          {
            &quot;supplied_name_string&quot;: &quot;Animalia&quot;,
            &quot;is_known_name&quot;: true,
            &quot;results&quot;: {
              &quot;match_value&quot;: &quot;EXACT&quot;,
              &quot;name_string&quot;: &quot;Animalia&quot;,
              &quot;current_name_string&quot;: &quot;Animalia&quot;,
              &quot;data_source_id&quot;: 1,
              &quot;data_source_title&quot;: &quot;Catalogue of Life&quot;,
              &quot;classification_path&quot;: &quot;Animalia&quot;,
              &quot;edit_distance&quot;: 0
            },
            &quot;preferred_results&quot;: [
              {
                &quot;data_source_id&quot;: 1,
                &quot;data_source_title&quot;: &quot;Catalogue of Life&quot;,
                &quot;name&quot;: &quot;Animalia&quot;,
                &quot;taxon_id&quot;: &quot;54767744&quot;
              }
            ]
          }, ...
          {
            &quot;supplied_name_string&quot;: &quot;Runa&quot;,
            &quot;is_known_name&quot;: true,
            &quot;results&quot;: {
              &quot;match_value&quot;: &quot;EXACT&quot;,
              &quot;name_string&quot;: &quot;Runa L. Agassiz, 1841&quot;,
              &quot;current_name_string&quot;: &quot;Runa L. Agassiz, 1841&quot;,
              &quot;data_source_id&quot;: 9,
              &quot;data_source_title&quot;: &quot;World Register of Marine Species&quot;,
              &quot;classification_path&quot;: &quot;Biota|Animalia|Echinodermata|Echinozoa|Echinoidea|Euechinoidea|Irregularia|Neognathostomata|Clypeasteroida|Scutellina||Runa&quot;,
              &quot;edit_distance&quot;: 0
            },
            &quot;preferred_results&quot;: [
              {
                &quot;data_source_id&quot;: 12,
                &quot;data_source_title&quot;: &quot;Encyclopedia of Life&quot;,
                &quot;name&quot;: &quot;Runa&quot;,
                &quot;taxon_id&quot;: &quot;24228379&quot;
              }
            ]
          },
          {
            &quot;supplied_name_string&quot;: &quot;Sunda&quot;,
            &quot;is_known_name&quot;: true,
            &quot;results&quot;: {
              &quot;match_value&quot;: &quot;EXACT&quot;,
              &quot;name_string&quot;: &quot;Sunda Pruthi, 1936&quot;,
              &quot;current_name_string&quot;: &quot;Stirellus Osborn &amp; Ball, 1902&quot;,
              &quot;data_source_id&quot;: 181,
              &quot;data_source_title&quot;: &quot;The Interim Register of Marine and Nonmarine Genera&quot;,
              &quot;classification_path&quot;: &quot;Biota|Animalia|Arthropoda|Hexapoda|Insecta|Hemiptera|Cicadellidae|Stirellus&quot;,
              &quot;edit_distance&quot;: 0
            },
            &quot;preferred_results&quot;: []
          }
        ],
        &quot;total&quot;: 450,
        &quot;queue_size&quot;: 0
      }</pre>
      <h3>Advanced</h3>
      <p>
      If you have many large documents to send or experience long network delays,
      you can gzip compress your POST body and set the request header,
      Content-Encoding : gzip.
      </p>
      <h4>Example ruby script</h4>
      <pre class='code'>require &#39;active_support/all&#39;
require &#39;addressable/uri&#39;

addressable = Addressable::URI.new
addressable.query_values = { :text =&gt; really_big_text }
gz_payload = ActiveSupport::Gzip.compress(addressable.query)

uri = URI(&#39;http://gnrd.globalnames.org/name_finder.json&#39;)
req = Net::HTTP::Post.new(uri.path)
req[&quot;Content-Encoding&quot;] = &quot;gzip&quot;
req[&quot;Content-Length&quot;] = gz_payload.size
req[&quot;X-Uncompressed-Length&quot;] = addressable.query.size
req.body = gz_payload

res = Net::HTTP.start(uri.hostname, uri.port) do |http|
  http.request(req)
end
      </pre>
    </div>
  </div>
</div>
{{ end }}
