{{ define "home" }}
<div class='structural fixedWidth clear' id='BodyContent'>
  <div class='inner'>
    <div id='content-wrapper'>
      <p class='tagline'>Find Scientific Names in documents.</p>
      <div id='content-body'>
        <p>
          Find scientific names on web pages, PDFs, Microsoft Office documents, images,
          or in freeform text. Encrypted or image-based PDFs should first pass
          through an OCR process GNfinder.
          Found names can be optionally verified against a number of resources.
        </p>
        <div class='panel' id='form-panel'>
          <form accept-charset='UTF-8' action='/find' enctype='multipart/form-data' method='post'>
            <ul class='tabs'>
              <li>
                <a href='#'>File</a>
              </li>
              <li>
                <a href='#'>URL</a>
              </li>
              <li>
                <a href='#'>Freeform Text</a>
              </li>
            </ul>
            <div class='panes'>
              <div>
                <label for='find_file'>File</label>
                <input class='gnrd-file' id='find_file' name='file' size='30' type='file'>
              </div>
              <div>
                <label for='find_url'>
                  URL to web page, PDF, Microsoft Office document or image
                </label>
                <input class='gnrd-input' id='find_url' name='url' placeholder='http://example.com' size='30' type='text'>
              </div>
              <div>
                <label for='find_text'>Freeform Text</label>
                <textarea class='gnrd-input' cols='25' id='find_text' name='text' rows='12'></textarea>
              </div>
            </div>

            <div id='options'>
                <label for='format'>Output format</label>
                <select id='format' name='format'>
                  <option value='html'>HTML</option>
                  <option value='json'>JSON</option>
                  <option value='csv'>CSV</option>
                  <option value='tsv'>TSV</option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for='with_verification'>Verify</label>
                <input id='with_verification' name='verification' value='true' type='checkbox'>
            </div>

            <div id='advanced_options'>
              <a href='#'>Advanced Options &gt;&gt;</a>
            </div>
            <div id='advanced_selections'>
              <fieldset>
                 <div>
                   <input checked id='unique_unique_list' name='unique' type='radio' value='true'>
                   <label for='unique_unique_list'>Unique list</label>
                   <input id='unique_all_occurrences' name='unique' type='radio' value='false'>
                   <label for='unique_all_occurrences'>All occurrences</label>
                 </div>

                 <br/><br/>

                 <div>
                   <input id='ambiguous_names' name='ambiguousNames' value='true' type='checkbox'>
                   <label for='ambiguous_names'>Show Ambiguous Uninomials</label>
                 </div>

                 <div>
                   <input id='return_content' name='returnContent' value='true' type='checkbox'>
                   <label for='return_content'>Return Input (JSON only)</label>
                 </div>

                 <div>
                   <input id='return_content' name='oddsDetails' value='true' type='checkbox'>
                   <label for='return_content'>Show Odds Details (JSON only)</label>
                 </div>
              </fieldset>
              <fieldset>
                <legend>Verification (JSON, CSV, TSV)</legend>
                <p>
                  <strong>Pick Data Sources:</strong>
                <div>
                  <input id='all_matches' name='allMatches' value='true' type='checkbox'>
                  <label for='all_matches'>Show All Matches</label>
                </div>
                </p>

                <div>
                  <input id='preferred_data_sources_195' name='sources[]' value=195 type='checkbox'>
                  <label for='preferred_data_sources_195'>AlgaeBase</label>
                </div>

                <div>
                  <input id='preferred_data_sources_170' name='sources[]' value=170 type='checkbox'>
                  <label for='preferred_data_sources_170'>Arctos</label>
                </div>

                <div>
                  <input id='preferred_data_sources_183' name='sources[]' value=183 type='checkbox'>
                  <label for='preferred_data_sources_183'>ASM Mammal DB</label>
                </div>

                <div>
                  <input id='preferred_data_sources_1' name='sources[]' value=1 type='checkbox'>
                  <label for='preferred_data_sources_1'>Catalogue of Life</label>
                </div>

                <div>
                  <input id='preferred_data_sources_12' name='sources[]' value=12 type='checkbox'>
                  <label for='preferred_data_sources_12'>Encyclopedia of Life</label>
                </div>

                <div>
                  <input id='preferred_data_sources_11' name='sources[]' value=11 type='checkbox'>
                  <label for='preferred_data_sources_11'>GBIF</label>
                </div>

                <div>
                  <input id='preferred_data_sources_5' name='sources[]' value=5 type='checkbox'>
                  <label for='preferred_data_sources_5'>Index Fungorum</label>
                </div>

                <div>
                  <input id='preferred_data_sources_168' name='sources[]' value=168 type='checkbox'>
                  <label for='preferred_data_sources_168'>ION</label>
                </div>

                <div>
                  <input id='preferred_data_sources_167' name='sources[]' value=167 type='checkbox'>
                  <label for='preferred_data_sources_167'>IPNI</label>
                </div>

                <div>
                  <input id='preferred_data_sources_181' name='sources[]' value=181 type='checkbox'>
                  <label for='preferred_data_sources_181'>IRMNG</label>
                </div>

                <div>
                  <input id='preferred_data_sources_3' name='sources[]' value=3 type='checkbox'>
                  <label for='preferred_data_sources_3'>ITIS</label>
                </div>

                <div>
                  <input id='preferred_data_sources_186' name='sources[]' value=186 type='checkbox'>
                  <label for='preferred_data_sources_186'>MCZbase</label>
                </div>

                <div>
                  <input id='preferred_data_sources_4' name='sources[]' value=4 type='checkbox'>
                  <label for='preferred_data_sources_4'>NCBI</label>
                </div>

                <div>
                  <input id='preferred_data_sources_179' name='sources[]' value=179 type='checkbox'>
                  <label for='preferred_data_sources_179'>Open Tree of Life</label>
                </div>

                <div>
                  <input id='preferred_data_sources_172' name='sources[]' value='172' type='checkbox'>
                  <label for='preferred_data_sources_172'>PaleoBioDB</label>
                </div>

                <div>
                  <input id='preferred_data_sources_194' name='sources[]' value=194 type='checkbox'>
                  <label for='preferred_data_sources_194'>Plazi</label>
                </div>

                <div>
                  <input id='preferred_data_sources_165' name='sources[]' value=165 type='checkbox'>
                  <label for='preferred_data_sources_165'>Tropicos</label>
                </div>

                <div>
                  <input id='preferred_data_sources_2' name='sources[]' value=2 type='checkbox'>
                  <label for='preferred_data_sources_2'>Wikispecies</label>
                </div>

                <div>
                  <input id='preferred_data_sources_197' name='sources[]' value=197 type='checkbox'>
                  <label for='preferred_data_sources_197'>World Chkl. Vasc. Plants Kew</label>
                </div>

                <div>
                  <input id='preferred_data_sources_196' name='sources[]' value=196 type='checkbox'>
                  <label for='preferred_data_sources_196'>World Flora Online</label>
                </div>

                <div>
                  <input id='preferred_data_sources_9' name='sources[]' value=9 type='checkbox'>
                  <label for='preferred_data_sources_9'>WoRMS</label>
                </div>

                <div>
                  <input id='preferred_data_sources_169' name='sources[]' value=169 type='checkbox'>
                  <label for='preferred_data_sources_169'>uBio NameBank</label>
                </div>
              </fieldset>
            </div>
            <div>
              <input class='form-button submit-button' type='submit' value='Find Names'>
            </div>
          </form>
        </div>
        <p>
          <a href='https://github.com/gnames/gnfinder'>
            Version {{ .Version }}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
{{ end }}
